*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
}

html{
    font-size: 62.5%
}

.hamburger-menu{
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 0.2rem;
    background-color: black;
    box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 92%;
    background-color: rgba(0,0,0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.banner{
    position: absolute;
    top: 41%;
    left: 9%;
}

.banner h1{
    font-family: 'Baloo Da 2',
    serif;
    font-size: 16rem;
    font-weight: 500;
    width: 50%;
    line-height: 13rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.4rem 0.4rem rgba(0,0,0, 0.4);
}

.banner p{
    font-family: 'Josefin Slab',
    serif;
    font-size: 3.7rem;
    font-weight: 550;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-shadow: 0.1rem 0.1rem rgba(0,0,0, 0.4);
}

.banner button {
    width: 15rem;
    height: 5rem;
    background-color: #9F736E;
    color:rgba(0,0,0); 
    border: none;
    font-family: 'Mulish', serif;
    font-weight: 550;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: rgba(0,0,0, 0.9);
    transition: right 0.5s;
    z-index: 100;
}

.change .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
}

.menu-item{
    text-align: center;
}

a:link{
    text-decoration: none;
}

.menu-link{
    font-family: "Baloo Da 2",
    serif;
    font-size: 4rem;
    color: #fff;
    position: relative;
}

.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;
}

.menu-link:hover::before{
    width: 100;
}

.about-us{
    padding-top: 3rem;
    width: 100%;
    background-color: #f5f5f5;
    height: 10%;
    padding-bottom: 7rem;
}

.about-us-img-wrapper img{
    vertical-align: middle;
    position: absolute;
    right: 26%;
    top: 97%;  
}

.services{
    width: 100%;
    height: 100%;

}

.services h3{
    font-family: 'Baloo Da 2',
    serif;
    font-size: 8rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    line-height: 13rem;
    letter-spacing: 0.2rem;
}

.services p{
    font-family: 'Josefin Slab',
    serif;
    text-align: center;
    font-size: 3.7rem;
    font-weight: 550;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 38rem;
}

.pomodogo-school{
    background-color: rgba(133,133,133,0.2);
}

.school h3{
    padding-top: 3rem;
    font-family: 'Baloo Da 2',
    serif;
    font-size: 8rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    line-height: 13rem;
    letter-spacing: 0.2rem;
}

.school p{
    font-family: 'Josefin Slab',
    serif;
    text-align: center;
    font-size: 3.7rem;
    font-weight: 550;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 60rem;
}

.school h2{
    font-family: 'Josefin Slab',
    serif;
    position: absolute;
    font-size: 4rem;
    font-weight: 570;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    top: 250%;
    left: 8%;
}

.school-img-wrapper img{
    vertical-align: middle;
    position: absolute;
    right: 66%;
    top: 184%; 
}

.school-01 h4{
    font-family: 'Josefin Slab',
    serif;
    position: absolute;
    font-size: 4rem;
    font-weight: 550;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    top: 250%;
    left: 43.5%;
}

.school-01-img-wrapper img{
    vertical-align: middle;
    position: absolute;
    right: 34%;
    top: 191%;  
}

.school-02 h5{
    font-family: 'Josefin Slab',
    serif;
    position: absolute;
    font-size: 4rem;
    font-weight: 550;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    top: 250%;
    left: 75%;
}

.school-02-img-wrapper img{
    vertical-align: middle;
    position: absolute;
    right: 2%;
    top: 187%; 
}

